DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/blank_canvas?schema=public"
PORT=3000
JWT_SECRET=replace-this-with-a-long-random
JWT_EXPIRES_IN=1d
CLOUDINARY_URL=cloudinary://YOUR_CLOUDINARY_API_KEY:YOUR_CLOUDINARY_API_SECRET@YOUR_CLOUDINARY_CLOUD_NAME