@import "tailwindcss";

:root {
    font-family: "DM Sans", sans-serif;
    color: #171717;
    background: #1c1c1c;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

button,
input,
textarea,
select {
    font: inherit;
}

.serif {
    font-family: "Playfair Display", serif;
}